doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    div(ng-app="chatdad", ng-cloak)
      block content


  block javascripts
    // script(src="/angular/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js")
    script(src="/javascripts/main.js")

